# Общие требования к заёмщикам банка
- Возраст: от 21 года на момент выдачи кредита и до 70 лет на момент полного погашения кредита по договору.
- Гражданство: исключительно Российская Федерация.
- Регистрация: наличие постоянной регистрации на территории РФ.
- Трудовой стаж: не менее 3 месяцев на текущем месте работы. Общий стаж не менее 1 года.
- Доход: официальный подтвержденный доход не менее 100 000 рублей в месяц (после вычета налогов). Для подтверждения принимается справка 2-НДФЛ или выписка из CФР.